<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ CUSTOMER_NAME }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link href="{{ ESTIMATES_PLUGIN_BUILD_PUBLIC }}/css/app.css" rel="stylesheet">
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{ CUSTOMER_NAME }}</a>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="{{ ESTIMATES_PLUGIN_BUILD_PUBLIC }}/js/app.js"></script>
    <script src="{{ ESTIMATES_PLUGIN_BUILD_PUBLIC }}/js/order/new.js"></script>
</body>
</html>
